.rectangle-32 {
      width: 1440px;
      height: 150px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #0967E1;
    }

    .rectangle-32_01 {
      width: 110px;
      height: 110px;
      left: 98px;
      top: 20px;
      position: absolute;
    }

    .gabriellebeus_span {
      color: #ED365E;
      font-size: 48px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 48px;
      word-wrap: break-word;
    }

    .gabrielle-beus {
      width: 247px;
      height: 41px;
      left: 596px;
      top: 2309px;
      position: absolute;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .nathalyxavier_span {
      color: #F67F1E;
      font-size: 48px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 48px;
      word-wrap: break-word;
    }

    .nathaly-xavier {
      width: 247px;
      height: 41px;
      left: 997px;
      top: 2309px;
      position: absolute;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .gabrielamonterosso_span {
      color: #0967E1;
      font-size: 48px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 48px;
      word-wrap: break-word;
    }

    .gabriela-monterosso {
      width: 300px;
      height: 71px;
      left: 165px;
      top: 2294px;
      position: absolute;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .desenvolvedorasdosite_span {
      color: black;
      font-size: 50px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 48.50px;
      word-wrap: break-word;
    }

    .desenvolvedoras-do-site {
      width: 738px;
      height: 59px;
      left: 351px;
      top: 1820px;
      position: absolute;
      text-align: center;
    }

    .amarelo {
      width: 553.7px;
      height: 609.96px;
      top: 400px;
      transform: rotate(0deg);
    }

    .meninaloira {
      width: 390.05px;
      height: 471.26px;
      left: 201.35px;
      top: 318.95px;
      position: absolute;
      border-radius: 170px;
    }

    .flor2 {
      width: 139.55px;
      height: 153.28px;
      left: 52.65px;
      top: 210.28px;
      position: absolute;
    }

    .ellipse-5 {
      width: 94px;
      height: 95px;
      left: 530px;
      top: 695px;
      position: absolute;
      background: #0967E1;
      border-radius: 9999px;
    }

    .ellipse-7 {
      width: 292px;
      height: 294px;
      left: 173px;
      top: 1951px;
      position: absolute;
      background: #0967E1;
      border-radius: 9999px;
    }

    .ellipse-10 {
      width: 292px;
      height: 294px;
      left: 574px;
      top: 1951px;
      position: absolute;
      background: #ED365E;
      border-radius: 9999px;
    }

    .ellipse-11 {
      width: 292px;
      height: 294px;
      left: 975px;
      top: 1951px;
      position: absolute;
      background: #F67F1E;
      border-radius: 9999px;
    }

    .comessepropsitocriamoso1amaisumespaoparainformarsensibilizareincentivarasociedadeaenxergarabelezaeovalordecadaindivduo_span {
      color: black;
      font-size: 36px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 54px;
      word-wrap: break-word;
    }

    .com-esse-propsito-criamos-o-1-a-mais-um-espao-para-informar-sensibilizar-e-incentivar-a-sociedade-a-enxergar-a-beleza-e-o-valor-de-cada-indivduo {
      width: 1162px;
      left: 139px;
      top: 1521px;
      position: absolute;
      text-align: justify;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .oqueosite1amais_span {
      color: black;
      font-size: 50px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 75px;
      word-wrap: break-word;
    }

    .o-que-o-site-1-a-mais {
      width: 1026px;
      height: 75px;
      left: 207px;
      top: 1418px;
      position: absolute;
      text-align: center;
    }

    .rectangle-52 {
      width: 1328px;
      height: 336px;
      left: 56px;
      top: 914px;
      position: absolute;
      background: #F67F1E;
      border-radius: 20px;
    }

    .osite1amaissurgiuapartirdeumprojetocientficoquedesenvolvemosduranteasaulasdeprojetoprofissionaltivemosaliberdadedeescolherumtemaquenostocassedeformaespecialedecidimosabordarainclusoevalorizaodaspessoascomsndromededownacreditamosnaimportnciadepromoveraempatiaorespeitoeaconscientizaosobreadiversidade_span_01 {
      color: white;
      font-size: 36px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 36px;
      word-wrap: break-word;
    }

    .osite1amaissurgiuapartirdeumprojetocientficoquedesenvolvemosduranteasaulasdeprojetoprofissionaltivemosaliberdadedeescolherumtemaquenostocassedeformaespecialedecidimosabordarainclusoevalorizaodaspessoascomsndromededownacreditamosnaimportnciadepromoveraempatiaorespeitoeaconscientizaosobreadiversidade_span_02 {
      color: white;
      font-size: 36px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 36px;
      word-wrap: break-word;
    }

    .osite1amaissurgiuapartirdeumprojetocientficoquedesenvolvemosduranteasaulasdeprojetoprofissionaltivemosaliberdadedeescolherumtemaquenostocassedeformaespecialedecidimosabordarainclusoevalorizaodaspessoascomsndromededownacreditamosnaimportnciadepromoveraempatiaorespeitoeaconscientizaosobreadiversidade_span_03 {
      color: white;
      font-size: 36px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 36px;
      word-wrap: break-word;
    }

    .o-site-1-a-mais-surgiu-a-partir-de-um-projeto-cientfico-que-desenvolvemos-durante-as-aulas-de-projeto-profissional-tivemos-a-liberdade-de-escolher-um-tema-que-nos-tocasse-de-forma-especial-e-decidimos-abordar-a-incluso-e-valorizao-das-pessoas-com-sndrome-de-down-acreditamos-na-importncia-de-promover-a-empatia-o-respeito-e-a-conscientizao-sobre-a-diversidade {
      width: 1243px;
      height: 272px;
      left: 98px;
      top: 978px;
      position: absolute;
      text-align: justify;
    }

    .comosurgiuosite1amais_span {
      color: #EDC536;
      font-size: 86px;
      font-family: Unkempt;
      font-weight: 700;
      line-height: 86px;
      word-wrap: break-word;
    }

    .como-surgiu-o-site-1-a-mais {
      width: 812px;
      left: 630px;
      top: 446px;
      position: absolute;
      text-align: center;
    }

    .flor3 {
      width: 122px;
      height: 122px;
      left: 999px;
      top: 1339px;
      position: absolute;
    }

    .ellipse-7_01 {
      width: 56px;
      height: 55px;
      left: 351px;
      top: 1694px;
      position: absolute;
      background: #ED365E;
      border-radius: 9999px;
    }

    .rectangle-56 {
      width: 281px;
      height: 273px;
      left: 980px;
      top: 1972px;
      position: absolute;
      border-radius: 136.50px;
    }

    .rectangle-57 {
      width: 281px;
      height: 273px;
      left: 579px;
      top: 1972px;
      position: absolute;
      border-radius: 136.50px;
    }

    .rectangle-58 {
      width: 281px;
      height: 273px;
      left: 178px;
      top: 1972px;
      position: absolute;
      border-radius: 136.50px;
    }

    .sobre_span {
      color: white;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    .sobre {
      left: 999.09px;
      top: 45.14px;
      position: absolute;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .direitos_span {
      color: white;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    .direitos {
      left: 1112.47px;
      top: 45.14px;
      position: absolute;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .relatos_span {
      color: white;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    .relatos {
      left: 1229px;
      top: 45.14px;
      position: absolute;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .inicio_span {
      color: white;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    .inicio {
    left: 879px;
    top: 45.14px;
    position: absolute;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }